.wrapper {
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button: 52px;
  --search-icon-font-size: 1.8rem;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search,
.search-result {
  width: 361px;
}
.search {
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  position: relative;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    height: 100%;
    caret-color: var(--primary);
  }

  &::after {
    content: "";
    position: absolute;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
    right: 52px;
    top: var(--search-top-spacer);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.spinner,
.loading {
  position: absolute;
  right: calc(var(--search-button) + 16px);
  top: 52%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  font-size: var(--search-icon-font-size);
}

.search-btn {
  width: var(--search-button);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: var(--search-icon-font-size);
  color: rgba(22, 24, 35, 0.34);
  line-height: 47px;

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.search-title {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 12px;
}
.more-btn {
  font-size: 2rem;
  background-color: transparent;
  margin-left: 30px;
  padding: 4px 8px;
}
.menu-items{
  width: 224px;
}